.branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px;
    border-radius: 10px;
    max-width: min-content;
}

.logo img {
    max-height: 100px;
    height: fit-content;
    width: auto;
}

.text {
    margin-right: 15px;
    flex-wrap: wrap;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}