.socialIcons {
    display: flex;
    justify-content: center;
    background-color: rgba(88, 88, 88, 0.523);
    border-radius: 1.4rem;
}

.iconLink {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    margin: 0 8px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.1s ease, transform 0.3s ease;
    overflow: hidden;
}

.icon {
    font-size: 24px;
    color: #efefefa3;
    transition: color 0.3s ease;
}

.icon:hover {
    color:rgb(255, 255, 255);
}
