.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  padding: 10px 10%;
}

.header .top {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.header .bottom {
  display: flex;
  text-align: left;
  margin-left: 10;
}