.header {
  background-color: #0a0a0a;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 150px;
}

.branding {
  display: flex;
  align-items: center;
}

.logo{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.logo img {
  width: 100%;
  height: auto;
}

.text {
  font-size: 1.5em;
  color: #d1e8ff;
  width: min-content;
}

.navMenu {
  display: flex;
  align-items: center;
}

.mainMenu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.link {
  color: #d1e8ff;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
  background-color: #1a73e8;
  color: white;
}

.bottom {
  padding: 0 150px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pathname {
  color: #b0c4de;
}

@media (max-width: 768px) {
  .top {
    flex-direction: column;
    align-items: flex-start;
  }

  .navMenu {
    width: 100%;
  }

  .mainMenu {
    flex-direction: column;
    width: 100%;
  }

  .link {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }
}
