.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 150px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 8px 10px;
  }
}